/* Start Variables */
:root {
    --mainColor: #10cab7;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
header {
    padding: 20px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    width: 60px;
}
header .links {
    position: relative;
}
header .links .icon:hover span:nth-child(2) {
    width: 100%;
}
header .links .icon {
    width: 30px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
header .links .icon span {
    background-color: #333;
    width: 100%;
    height: 2px;
}
header .links .icon span:nth-child(2) {
    width: 60%;
    transition: width 0.3s;
}
header .links .icon span:first-child,
header .links .icon span:last-child {
    width: 100%;
}
header .links ul {
    background-color: #F6F6F6;
    display: none;
    min-width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    z-index: 1;
}
header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F6F6F6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
header .links:hover ul {
    display: block;
}
header .links ul li:not(:last-child) {
    border-bottom: 2px solid #eee;
}
header .links ul li a {
    width: calc(100% - 10px);
    color: #333;
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: transform 0.3s;
}
header .links ul li a:hover {
    transform: translateX(10px);
}
/* End Header */
/* Start Landing */
.landing {
    background-image: url(../imgs/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .intro-text {
    width: 320px;
    /* max-width: 100%; */
    text-align: center;
}
.landing .intro-text h1 {
    color: var(--mainColor);
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing */
/* Start Features */
.features {
    background-color: #F6F6F6;
    padding-top: 60px;
    padding-bottom: 60px;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .container .feat {
    padding: 20px;
    text-align: center;
}
.features .container i {
    color: var(--mainColor);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .container p {
    color: #777;
    line-height: 1.8;
    font-size: 17px;
}
/* End Features */